body {
    direction: rtl;
    text-align: right;
    font-size: 10px;
    font-family: 'Arial (Hebrew)', Arial;
}

.search {
  background-color: grey;
  height: 80px;
}
#side-nav {
  width: 25%;
  float: right;
  background-color: grey;
  background-image: linear-gradient( grey, white); 
}

#about-us{
  float: right;
  width: 37.5%;
  /* padding: 0px 5px; */
}
#details{
  float: right;
  width: 37.5%;
  /* padding: 0px 5px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  text-align: center;
  background-color: gray;
  margin: 10px 0px;
}


.contact-us-title {
  font-weight: bold;
  font-size: 1.5em;
}
.blue-bold-text {
  font-weight: bold;
  color: blue;
  font-size: 1.5em;
}

.black-bold-text{ 
  font-weight: bold;
  
}


label{
  display: inline-block;
  float: right;
  clear: right;
  width: 90px;
  text-align: right; /* right  - because it close to the inputs*/
}
input {
display: inline-block;
float: right;
}
textarea {
  display: inline-block;
  float: right;
  font-size: 1em;
  } 
  .send  {
    background-color: blue; 
    border: none;
    color: white;
   text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    padding: 4px 7px;
  }

  .send:hover {
    background-color:yellow; 
    color: black;
  }
    
  /* nav {
    width: 100%;
  float: right;
    background-color: grey;
  }
  
  nav > ul {
    padding: 0;
  }
  
  nav > ul > li {
    display: inline;
    list-style-type: none;
  } */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }
 nav {
  width: 100%;
float: right;
  background-color: grey;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline;
  list-style-type: none;
}

/* nav > ul > li:last-child {
  float: right;
} */

nav > ul > li > a {
  display: inline-block;
  color: white;
  text-decoration: none;
  /* padding: 10px; */
}

nav > ul > li > a:hover {
  background-color: grey;
}


nav > ul > li.active > a {
  background-color: grey;
  color: blue;
  text-decoration: underline;
} 